<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if @user.id == current_user.id %>
      <section>
        <button onclick="getGeo()">Click to fill in geolocation info.</button><br><br>      
        <% if @status == true %>
          You have an active commute. Want to stop it?
          <%= form_tag("/commutes/endcommute", method: "post") do %>
            <%= text_field_tag 'lat', nil, placeholder: "Latitude" %>
            <%= text_field_tag 'lon', nil, placeholder: "Longitude" %>
            <%= submit_tag "End Commute" %>
          <% end %>
        <% else %>
          You don't have an active commute. Want to start one?
          <%= form_tag("/commutes/startcommute", method: "post") do %>
            <%= text_field_tag 'lat', nil, placeholder: "Latitude" %>
            <%= text_field_tag 'lon', nil, placeholder: "Longitude" %>
            <%= submit_tag "Start Commute" %>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.commutes.any? %>
      <h3>Commutes (<%= @user.commutes.count %>)</h3>
      <ol class="commutes">
        <%= render @commutes %>
      </ol>
      <%= will_paginate @commutes %>
    <% end %>
  </div>
</div>