<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if @user.id == current_user.id %>
      <section>
        <% if @status == true %>
          You have an active commute. Want to stop it?
          <hr>
          <%= form_tag("/commutes/endcommute", method: "post") do %>
            <%= submit_tag "End Commute", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <button class="btn btn-secondary" data-toggle="collapse" data-target="#newRoute">New Route?</button></br></br>
          <%= form_tag("/routes/createroute", method: "post", id: "newRoute", class: "collapse") do %>
            <%= text_field_tag 'name', nil, placeholder: "Name/Description", class: "form-control" %>
            <%= text_field_tag 'startLat', nil, placeholder: "Start Latitude", class: "form-control" %>
            <%= text_field_tag 'startLon', nil, placeholder: "Start Longitude", class: "form-control" %>
            <%= text_field_tag 'endLat', nil, placeholder: "End Latitude", class: "form-control" %>
            <%= text_field_tag 'endLon', nil, placeholder: "End Longitude", class: "form-control" %>
            <%= submit_tag "Create Route", class: "btn btn-primary" %>
          <% end %>
          <hr>
          You don't have an active commute. Want to start one?</br></br>
          <%= form_tag("/commutes/startcommute", method: "post") do %>
            <%= submit_tag "Start Commute", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.commutes.any? %>
      <h3>Commutes (<%= @user.commutes.count %>)</h3>
      <ol class="commutes">
        <%= render @commutes %>
      </ol>
      <%= will_paginate @commutes %>
    <% end %>
  </div>
</div>