<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if @user.id == current_user.id %>
      <section>
        <% if @status == true %>
          You have an active commute. Want to stop it?
          <%= button_to("Stop Commute", { :action => 'endcommute', :controller => :commutes } )%>
        <% else %>
          You don't have an active commute. Want to start one?
          <%= button_to("Start Commute", { :action => 'startcommute', :controller => :commutes } )%>
        <% end %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.commutes.any? %>
      <h3>Commutes (<%= @user.commutes.count %>)</h3>
      <ol class="commutes">
        <%= render @commutes %>
      </ol>
      <%= will_paginate @commutes %>
    <% end %>
  </div>
</div>