<li id="commute-<%= commute.id %>">
  <% Time.zone = 'Eastern Time (US & Canada)' %>
  <span class="id"><strong>Commute #<%= commute.id %></strong></span>
  <br>
  <span class="times">Times: <%= commute.starttime.in_time_zone.strftime("%H:%M") %> ET—<%= commute.endtime.in_time_zone.strftime("%H:%M") + ' ET' unless commute.endtime.nil? %></span>
  <br>
  <% unless commute.endtime.nil? %>
    <span class="duration"><%= 'Duration: ' + ((commute.endtime - commute.starttime) / 1.minute).round.to_s + ' minutes' %></span>
    <br>
  <% end %>
  <% unless commute.startLat.nil? || commute.startLat == 0 %>
    <span class="startLocation">Begin at: <%= link_to commute.startLat.round(5).to_s + ' ' + commute.startLon.round(5).to_s, "https://maps.google.com/maps?=12&t=m&q=loc:" + commute.startLat.round(5).to_s + '+' + commute.startLon.round(5).to_s %>
    <br>
  <% end %>
  <% unless commute.endLat.nil? || commute.startLat == 0 %>
    <span class="endLocation">End at: <%= link_to commute.endLat.round(5).to_s + ' ' + commute.endLon.round(5).to_s, "https://maps.google.com/maps?=12&t=m&q=loc:" + commute.endLat.round(5).to_s + '+' + commute.endLon.round(5).to_s %>   
    <br>
    <span class="distanceTraveled">Distance traveled: <%=  Geokit::LatLng.new(commute.startLat.round(5).to_s, commute.startLon.round(5).to_s).distance_from(Geokit::LatLng.new(commute.endLat.round(5).to_s, commute.endLon.round(5).to_s)).round(2) %> miles</span>
  <% end %>
  <span class="timestamp">
    <% if commute.endtime.nil? %>
      Started commuting <%= time_ago_in_words(commute.starttime) %> ago.
    <% else %>
      Commuted <%= time_ago_in_words(commute.endtime) %> ago.
    <% end %>
  </span>
</li>