<li id="commute-<%= commute.id %>">
  <% Time.zone = 'Eastern Time (US & Canada)' %>
  <% commute.startLat = commute.startLon = commute.endLat = commute.endLon = nil unless current_user.id == params[:id].to_i %>
  <% startLat = commute.startLat.round(5).to_s unless commute.startLat.nil? %>
  <% startLon = commute.startLon.round(5).to_s unless commute.startLon.nil? %>
  <% endLat = commute.endLat.round(5).to_s unless commute.endLat.nil? %>
  <% endLon = commute.endLon.round(5).to_s unless commute.endLon.nil? %>
  <a href="/commutes/<%= commute.id %>" class="id"><strong>Commute #<%= commute.id %></strong></a>
  <div class="date">Date: <%= commute.starttime.in_time_zone.strftime("%m/%d/%Y") %></div>
  <div class="times">Times: <%= commute.starttime.in_time_zone.strftime("%I:%M %p") %>—<%= commute.endtime.in_time_zone.strftime("%I:%M %p") unless commute.endtime.nil? %></div>
  <% unless commute.endtime.nil? %>
    <div class="duration"><%= 'Duration: ' + ((commute.endtime - commute.starttime) / 1.minute).round.to_s + ' minutes' %></div>
  <% end %>
  <% unless startLat.nil? || startLon.nil? %>
    <div class="startLocation">Begin at: <%= link_to startLat + ' ' + startLon, "https://maps.google.com/maps?=12&t=m&q=loc:" + startLat + '+' + startLon %></div>
  <% end %>
  <% unless endLat.nil? || endLon.nil? %>
    <div class="endLocation">End at: <%= link_to endLat + ' ' + endLon, "https://maps.google.com/maps?=12&t=m&q=loc:" + endLat + '+' + endLon %></div>
  <% end %>
  <% unless startLat.nil? || startLon.nil? || endLat.nil? || endLon.nil? %>
    <% distanceTraveled = Geokit::LatLng.new(startLat, startLon).distance_from(Geokit::LatLng.new(endLat, endLon)) %>
    <div class="distanceTraveled">Distance traveled: <%= distanceTraveled.round(2) %> miles</div>
    <div class="speed">Speed: <%= (distanceTraveled / ((commute.endtime - commute.starttime) / 1.hour)).round(2) %> mph</div>
  <% end %>
  <div class="timestamp">
    <% if commute.endtime.nil? %>
      Started commuting <%= time_ago_in_words(commute.starttime) %> ago.<%= ' | ' if current_user.id == params[:id].to_i %><%= link_to "delete", commute, method: :delete, data: { confirm: "You sure?" } if current_user.id == params[:id].to_i %>
    <% else %>
      Commuted <%= time_ago_in_words(commute.endtime) %> ago.<%= ' | ' if current_user.id == params[:id].to_i %><%= link_to "delete", commute, method: :delete, data: { confirm: "You sure?" } if current_user.id == params[:id].to_i %>
    <% end %>
  </div>
</li>