<li id="commute-<%= commute.id %>">
  <% Time.zone = 'Eastern Time (US & Canada)' %>
  <%= link_to gravatar_for(commute.user, size: 50), commute.user %>
  <span class="user"><%= link_to commute.user.name, commute.user %></span>
  <br>
  <span class="times">Times: <%= commute.starttime.in_time_zone.strftime("%H:%M") %> ET—<%= commute.endtime.in_time_zone.strftime("%H:%M") unless commute.endtime.nil? %> ET</span>
  <br>
  <span class="duration">Duration: <%= ((commute.endtime - commute.starttime) / 1.minute).round unless commute.endtime.nil? %> minutes</span>
  
  <span class="timestamp">
    <% if commute.endtime.nil? %>
      Started commuting <%= time_ago_in_words(commute.starttime) %>
    <% else %>
      Commuted <%= time_ago_in_words(commute.endtime) %> ago.
    <% end %>
  </span>
</li>