<div id="commute-<%= @commute.id %>">
  <% Time.zone = 'Eastern Time (US & Canada)' %>
  <% @commute.starttime = @commute.starttime.in_time_zone %>
  <% @commute.endtime = @commute.endtime.in_time_zone unless @commute.endtime.nil? %>
  <div class="id"><strong>Commute #<%= @commute.id %></strong></div>
  <div class="owner">Owner: <%= User.find_by_id(@commute.user_id).name%></div>
  <div class="date">Date: <%= @commute.starttime.strftime("%m/%d/%Y") %></div>
  <div class="times">Times: <%= @commute.starttime.strftime("%I:%M %p") %>—<%= @commute.endtime.strftime("%I:%M %p") unless @commute.endtime.nil? %></div>
  <% unless @commute.endtime.nil? %>
    <div class="duration"><%= 'Duration: ' + ((@commute.endtime - @commute.starttime) / 1.minute).round.to_s + ' minutes' %></div>
  <% end %>
  <% # TODO: insert coords here %>
  <div class="timestamp">
    <% if @commute.endtime.nil? %>
      Started commuting <%= time_ago_in_words(@commute.starttime) %> ago.
    <% else %>
      Commuted <%= time_ago_in_words(@commute.endtime) %> ago.
    <% end %>
    <%= ' | ' if current_user.id == @commute.user_id.to_i %><%= link_to "delete", @commute, method: :delete, data: { confirm: "You sure?" } if current_user.id == @commute.user_id.to_i %>
  </div>
  <br/>
  <div id="map">Testing</div>
      <script>
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 1,
            center: {lat: 0, lng: 0}
          });
          <% # TODO: fill in coords here %>
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaM2ojd4c9tWFZfYeNVO6dqwpheONdz2M&callback=initMap">
      </script>
</div>